<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>予約一覧</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<header>
		<h1>予約一覧</h1>
	</header>
	<main>
		<div class="reservation-list-container">
			<table>
				<thead>
					<tr>
						<th>お名前</th>
						<th>電話番号</th>
						<th>メールアドレス</th>
						<th>プラン</th>
						<th>料金</th>
						<th>予約日時</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reservation : ${reservations}">
						<td th:text="${reservation.userName}"></td>
						<td th:text="${reservation.userPhone}"></td>
						<td th:text="${reservation.userEmail}"></td>
						<td th:text="${reservation.planName}"></td>
						<td th:text="'¥' + ${reservation.planPrice}"></td>
						<td th:text="${reservation.formattedReservationDate}"></td>

					</tr>
				</tbody>
			</table>
		</div>
		<a href="/reservation/top" class="back-button">トップページへ戻る</a>
	</main>
</body>

</html>