<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = 'メンバー新規登録', scripts = ~{::script}, links = ~{::link})"></head>

<body>
	<div class="container">
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>
		<h1>メンバー新規登録</h1>
		<form th:action="@{/member/create}" th:object="${memberRequest}" th:method="post">


			<!--     <div class="form-group">-->
			<!--       <label>ID：<span class="text-danger">※</span></label>-->
			<!--       <input type="text" th:field="*{id}" class="form-control">-->
			<!--     </div>-->
			<div class="form-group">
				<label>名前：<span class="text-danger">※</span></label>
				<input type="text" th:field="*{name}" class="form-control">
			</div>
			<div class="form-group">
				<label>年齢：<span class="text-danger">※</span></label>
				<input type="text" th:field="*{age}" class="form-control">
			</div>
			<div class="form-group">
				<label for="gender">性別：<span class="text-danger">※</span></label>
				<select id="gender" th:field="*{gender_id}" class="form-control">
					<option value="" disabled selected>選択してください</option>
					<option th:each="gender : ${genderList}" th:value="${gender.id}" th:text="${gender.name}"></option>
				</select>
				<div class="text-danger" th:if="${validationError != null}">
					<span th:each="error : ${validationError}" th:text="${error}"></span>
				</div>
			</div>
			<div class="form-group">
				<label>血液型：<span class="text-danger">※</span></label>
				<input type="text" th:field="*{blood_type_id}" class="form-control">
			</div>


			<div class="text-center">
				<a href="/member/list" class="btn btn-secondary">キャンセル</a>
				<input type="submit" value="登録" class="btn btn-primary">
			</div>
		</form>
	</div>
</body>

</html>